.name_title {
  color: rgb(195, 174, 60);
  display: grid;
  font-size: 12vw;
  justify-content: center;
  line-height: 1;
  position: relative;
  text-align: center;
  top: -5vw;
  -webkit-text-stroke: 0.02vw ivory ;
}

.name {
  text-transform: uppercase;
  font-size: 80%;
}
.title {
  font-size: 25%;
  text-transform: capitalize;
}
