.container {
  margin: 2% 20%;
}

.title {
  font-size: x-large;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1%;
}

.subTitle {
  font-size: large;
  text-transform: uppercase;
}

.description {
  font-size: larger;
}

/* .description li {
  list-style-position: inside;
} */

.information {
  margin: 2% 20%;
  display: flex;
  padding: 2%;
  gap: 20px;
}

.containerBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  font-weight: bold;
  line-height: 1rem;
  white-space: pre;
  font-size: medium;
  padding: 0 3%;
}

.progress_bar {
  border: 2px solid rgb(195, 174, 60);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
}

.progress_bar > div {
  white-space: nowrap;
  border-radius: 15px;
  animation: progress_bar 10s;
}

@keyframes progress_bar {
  0% {
    width: 0;
  }
}

.guideTitle {
  display: flex;
  justify-content: flex-end;
  padding: 10% 0;
}

.guideTitleName {
  writing-mode: vertical-lr;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  backdrop-filter: blur(5px);
  transform: rotate(180deg);
  text-transform: uppercase;
  justify-content: end;
  -webkit-text-stroke: 1px rgb(195, 174, 60);
  font-family: system-ui;
  letter-spacing: 10px;
}

.guideImage {
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
}

.guideImage:hover {
  border: 1px solid rgb(195, 174, 60);
}

.containerSpells {
  align-items: center;
  margin-top: 3%;
  border: 2px solid rgb(195, 174, 60);
  margin: 1%;
  padding: 2%;
  width: 100%;
}

.containerAbilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% 0;
}

.skinBorder {
  border: 2px solid rgb(195, 174, 60);
  margin: 1%;
}

.containerSkin2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  margin-bottom: 3%;
}

.containerSkin {
  margin: 0;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 400px;
}

.containerSkin img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.containerSkin img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.skinName {
  margin-left: 2%;
  margin-top: -12px;
  font-size: 2.6vw;
  font-weight: 700;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  -webkit-text-stroke: 0.1vw rgb(195, 174, 60);
  font-family: system-ui;
  letter-spacing: 0.05em;
  position: absolute;
}

@media (max-width: 500px) {
  .container {
    margin: 2% 15%;
  }

  .description {
    font-size: small;
  }

  .subTitle {
    font-size: small;
  }

  .containerBar {
    font-size: small;
  }

  .skinName {
    margin-top: -2px;
  }

  .information {
    margin: 2% 15%;
    display: block;
    padding: 2%;
  }

  .guideImage {
    margin-top: 10px;
    width: 80px;
    height: 80px;
  }

  .guideTitleName {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 5px;
  }
}
