.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  /* padding: 1.5%; */
  text-transform: uppercase;
  border-top: 2px solid rgb(195, 174, 60);
  border-bottom: 2px solid rgb(195, 174, 60);
  font-family: system-ui;
  font-size: medium;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.3rem;
}

.navigation li:hover {
  color: rgb(195, 174, 60);
  /* transform: scale(1.2); */
}

.isSelected {
  background-color: rgb(195, 174, 60);
}

.li {
  text-align: center;
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.label {
  width: 165px;
  line-height: 30px;
}

@media (max-width: 1024px) {
  .label {
    width: 130px;
    line-height: 25px;
  }
}

@media (max-width: 500px) {
  .label {
    width: 80px;
    line-height: 20px;
  }

  .navigation {
    font-size: x-small;
  }
}
